<mat-toolbar>
    <span>Registration</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <mat-card-content>
        <form class="my-form" [formGroup]="registerForm">
           <mat-form-field class="full-width">
                  <mat-label>First Name</mat-label>
                  <input  matInput formControlName="firstName" placeholder="First name"  name="fname"  required>
               </mat-form-field>
               <mat-form-field class="full-width">
                  <mat-label>Last Name</mat-label>
                  <input  matInput formControlName="lastName" placeholder="Last Name" name="lname"  required>
               </mat-form-field>
               <mat-form-field class="full-width">
                  <mat-label>Email</mat-label>
                  <input  matInput formControlName="email" placeholder="Email" name="email">
               </mat-form-field>
               <mat-form-field class="full-width">
                  <mat-label>Password</mat-label>
                  <input  matInput  formControlName="password" placeholder="Password"  name="password">
               </mat-form-field>
               <mat-form-field class="full-width">
                <mat-label>Confirm Password</mat-label>
                <input  matInput  formControlName="confirmPassword" placeholder="Password"  name="password">
             </mat-form-field>
               <section class="example-section">
                <label class="example-margin">Gender:</label>
                <mat-radio-group formControlName="gender" >
                  <mat-radio-button class="example-margin" value="male">Male</mat-radio-button>
                  <mat-radio-button class="example-margin" value="female">Female</mat-radio-button>
                  <mat-radio-button class="example-margin" value="other">Other</mat-radio-button>
                </mat-radio-group>
              </section>
           
              <mat-form-field>
                <mat-label>Date of Birth</mat-label>
            <input matInput formControlName="dob" [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </form>
      </mat-card-content>
     <mat-card-actions>
        <button mat-raised-button (click)="onSubmit()" color="primary">REGISTER</button>
     </mat-card-actions>
  </mat-card>